@font-face {
  font-family: "Underground";
  src: url(./fonts/Underground.ttf) format("woff");
}

#header {
  text-align: center;
}
#header h1 {
  font-size: 5em;
  font-family: "Underground";
  padding: 0.3em;
  font-weight: 1;
}

@media screen and (max-width: 480px) {
  #header h1 {
    font-size: 3em;
  }
}

.dial {
  padding: 3px;
}

main {
  text-align: center;
}

#controlbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#controlbar > div {
  padding: 1em;
}

.dayselector-radio-button {
  font-size: 5em;
}

#map-wrapper {
  position: relative;
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-height: 1024px) {
  #map-wrapper {
    width: 100%;
  }
}
@media screen and (min-width: 640px) and (max-width: 1200px) {
  #map-wrapper {
    width: 90%;
  }
}

@media screen and (min-width: 1200px) {
  #map-wrapper {
    width: 50%;
  }
}
