@font-face {
  font-family: "Underground";
  src: url(./fonts/Underground.ttf) format("woff");
}

#header {
  text-align: center;
  padding: 2em;
  font-family: "Times New Roman", Times, serif;
}

#header h1 {
  font-size: 300%;
  letter-spacing: 0.3em;
  font-family: "Underground";
}

#timeline {
  text-align: center;
}

.dial {
  padding: 3px;
}
