html {
  height: 100vh;
  width: 100vw;
}

h1 {
  font-family: "Montserrat";
  font-weight: 600;
  text-align: center;
  color: #0D1B2A;
}

h2 {
  font-family: "Montserrat";
  font-weight: 400;
}

footer {
  width: 100%;
  position: fixed;
  right: 0px;
  bottom: 0px;
  background-color: #e0e1dd;
  font-family: "Montserrat";
  bottom: 0;
  padding: 1rem;
  text-align: right;
}

@media screen and (max-width: 992px) {
  footer {
    padding: 0.5rem;
  }
}

a {
  color: #415A77;
  text-decoration: none;
  font-weight: 600;
}

.text-small {
  font-size: small;
}

.mb-2 {
  margin-bottom: 0.2rem;
}